<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated myJava -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="myJava.presentation.MyJavaModelWizardID"
            name="%_UI_MyJavaModelWizard_label"
            class="myJava.presentation.MyJavaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MyJavaModelFile.gif">
         <description>%_UI_MyJavaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated myJava -->
      <editor
            id="myJava.presentation.MyJavaEditorID"
            name="%_UI_MyJavaEditor_label"
            icon="icons/full/obj16/MyJavaModelFile.gif"
            extensions="myjava"
            class="myJava.presentation.MyJavaEditor"
            contributorClass="myJava.presentation.MyJavaActionBarContributor">
      </editor>
   </extension>

</plugin>
